body{
    background-color: black;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
main img{
    border-radius: 50px;
    margin: auto;
    display: block;
    margin-bottom: 100px;
}
h1{
    text-align: center;
    margin-bottom: 150px;
    font-size: 4rem;

}
main p{
    text-align: center;
    font-size: 2rem;
}
hr{
    width: 1000px;
    
}
footer{
    border: solid 1rem white;
    border-radius: 50px;
    padding: 25px;
    margin-top: 200px;
}
button{
    background-color: black;
}
button:hover{
    transition: 0.3s;
    transform: scale(1.3);
    text-shadow: 50px 20px 10px white;
}